img {
  max-width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}


.header img {
  width: 250px;
}

.Cart {
  width: 100%;

}

.Checkout {
  width: 100%;
}

.bg-light {
  background: #ffffff url('../../assets/img/archers.gif') repeat center center;
  background-size: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 102px;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #020202;
  font-size: 18px;
  font-weight: 600;
}


 /* Star Dropdown hover button */
.dropbtn {
  background-color: transparent;
  color: #020202;
  padding: 8px 6px 8px 7px;
  font-size: 18px;
  border: none;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #020202;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
  top: 40px;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 80px 12px 80px;
  text-decoration: none;
  display: block;
  font: bold 12px / 16px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
  width: 100%;
}

.dropdown-content a:hover {background-color: #666666;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #f40000;}



.header ul{
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-family: 'segoe ui', sans-serif;
}
.header ul>li{
  display: inline-block;
}
.header ul>li>a{
  display: block;
  position: relative;
  text-decoration: none;
  color: #020202;
}

.header ul>li>div>button:before,
.header ul>li>a:before,
.header ul>li>a:after{
  content: '';
  position: absolute; 
  top: 80%;
  width: 0%;
  height: 2px;
  background: #c60000;
  transition: .3s;
    
}
.nav-link.active:before,
.header ul>li>div>button:before,
.header ul>li>a:before{
  left: 0%;    
}
.nav-link.active:before,
.header ul>li>div>button:hover:before,
.header ul>li>a:hover:before {    
    width: 100%;    
}

/*  End dropdown hover button */

.nav-link.active,
.navbar-nav .nav-link:hover {
  color: #c60000 !important;
}

.main-content {
  background: url('../../assets/img/wallwords2000.jpg') no-repeat center center fixed;
}

.first_section {
  background-color: #fff;
}

.WBG-1 {
  background-color: #ffffff;
}

.WBG-1 img {
  max-width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}

.empty-space1 {
  height: 450px;
}

.second_section {
  background-color: #fff;
}

.third-section {
  background-color: #f3f3f3;
}

/*  start css shop image animation */

.container:hover .overlay {
  width: 88%;
}

.overlay {
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 0;
  background-color: #f3f3f3;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 5ms ease;
}

.container {
  position: relative;
  width: 100%;
}



/* end css shop image animation */

/* START MAiN CONTAINER PRICE */

.main-container-price {
  color: #333333;
}

.main-container-price a {
  color: #333333;
  font-size: 16px;
}

.main-container-price a:hover {
  text-decoration: none;
}

/* END MAIN CONTAINER PRICE */

/* start shop button css and anim ation */

/* .qwerty {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
} */

.qwerty:hover + .shop-button {
  /* display: block; */
  background-color: #000;
}

.shop-button {
  /* display: none; */
  width: 30px;
  height: 30px;
  background-color: #cf0101;
  border-radius: 50px;
  float: right;
  position: relative;
  bottom: 40px;
  right: 20px;
  /* transition: width 0.8s; */
} 

.shop-button p {
  margin: 0px;
  line-height: initial;
}


  


.shop-button:hover  {
  width: 140px;
  /* transition: all 0.8s; */
 
    
  
}


.DOP {
  display: none;
  float: left;
  padding: 0px 0px 0px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;

}

.shop-button i {
  padding-top: 3px;
  font-size: 15px;
  float: right;
  padding-right: 0px;
  color: #fff;
  position: relative;
  left: 5px;
  bottom: 2px;
}


/* End Shop button */

.red-picture {
  background-color: #cf0101;
  width: 100%;
  height: 100px;
}

/* Button scrool on top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #55555580;
  color: white;
  cursor: pointer;
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  opacity: 0.5;
  font-size: 20px;
}

#myBtn:hover {
  background-color: #55555591;
  opacity: 1;
}


/* footer */

.footer {
  background-color: #000;
}

.email {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.email-span {
  color: #cf0101;
}

/* Center the loader */


#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -76px 0 0 -76px;
  border: 10px solid #f87a01;
  border-radius: 50%;
  border-top: 10px solid #cf0101;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#loaderDiv {
  display: none;
  
}
